$sg-primary-color: #212121;
$sg-secondary-color: #ffffff;
$sg-body-bg: #f1f1f1;
$sg-border-color: $sg-primary-color;
$sg-font-family: 'Poppins', sans-serif;
$sg-placeholder-color: #73869c;
$sg-shutdown: #f0eded;
